<nav class="navbar navbar-expand-sm bg-light">
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
    <!-- Links -->
        <li class="nav-item" role="presentation">
            <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="/employee">Medewerkers</a>
        </li>
        </ul>
    </div>
</nav>
