<section class="portfolio-block hire-me">
    <div class="container">
        <div class="heading">
            <h2>ik ben iets kwijt</h2>
        </div>
        <form>
            <div class="form-group">
                <label for="subject">Soort voorwerp</label>
                <input class="form-control" type="email" id="email">
            </div>
            <div class="form-group">
                <label for="email">Spoortraject
                </label>
                <input class="form-control" type="email" id="email">
            </div>
            <div class="form-group"><label for="message">Kenmerken</label>
                <textarea class="form-control" id="message"></textarea>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label for="hire-date">Date</label>
                        <input class="form-control" id="hire-date" type="date">
                    </div>
                    <div class="col-md-6 button">
                        <button class="btn btn-primary btn-block" type="submit">Hire Me</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>